<h1>Student Details</h1>
<div id="detailsflex">
<div class="image">
  <img src="<%= @student.url  %>">
</div>
<div class="image">
<p>First Name: <%= @student.first_name %></p>
<p>Last Name: <%= @student.second_name %></p>
<p>Age: <%= @student.age %></p>
<p>House: <%= @student.house %></p>
</div>
<div class="image">
<img src="<%= @house.url  %>">  
</div>
</div>


